<div class="contact">
    <div class="tags" title="tags">
        {{ with .Params.tags }}
        <strong>Tags [</strong>
        {{ range . }}
        {{ $href := print (absURL "tags/") (urlize .) }}
        <a class="btn btn-sm btn-outline-dark tag-btn" href="{{ $href }}">{{ . }}</a>
        {{ end }}
        <strong>]</strong>
        {{ end }}
    </div>
    <h2>Contact</h2>
    Please feel free to ping me on Twitter <a href="https://twitter.com/tahadraidia">@tahadraidia</a> or on Mastodon <a href="https://infosec.exchange/@tahad" rel="me">@tahad@infosec.exchange</a>. Also you can find more of my work at <a href="https://tahadraidia.com">https://tahadraidia.com</a>.
</div>
</br> 