<dd>
	<h3>About</h3>
	<div id="bio" class="bio">
		<p>Hello! I am Taha, a security consultant at <a href="https://mdsec.co.uk">MDSec</a>.</p> 
	            
		<p>Love all things C, assembly and debuggers. Interested in reverse engineering, binary exploitation and exploit development.</p>
		<p>This blog is filled with my personal ramblings about programming and security.</p>

		<p>You can find me elsewhere on <a href="https://github.com/tahadraidia">Github</a>, <a href="https://linkedin.com/tahadraidia">Linkedin</a> and <a href="https://twitter.com/tahadraidia">Twitter</a>.</p>
	</div>
</dd>