/* Global */

html, body {
  width: 100%;
  height: 100%; 
  margin: 0%;
  padding: 0%;
  /* font-size: 1.1rem; */
  font-size: 18px; line-height: 27px;
  font-family: 'Roboto Mono', monospace;
  background-color: white;
}

a {
  color: #245dc1;
}

h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-variant: normal;
}

h1, h2, h3, h4, em, i {
    font-weight: bold;
} 

h1, h2, h3, h4, blockquote, q {
    font-family: "open sans",arial,sans-serif;
}

.container {
    width: 85%;
    margin: auto; /* Center of the page. */ 
}

.container img {
  max-height: 100%;
  max-width: 100%;
}

.container iframe {
	display: block;
	margin: 0 auto;
	padding: 0;
}

/* Title header */

.site_title {
    text-align: center;
}

.site_title a {
    text-decoration: none;
	color: black;
}

/* Notes Listing */

.notes_section {
    margin: 0;
    padding: 0;
}

.notes_section dl {
    margin: 0;
    padding: 0;
}

.notes_section dd {
    padding-bottom: 10px;
    margin-left: 0;
}

.home_button {
	display: block;
	padding: 0;
}
.note_title {
	margin-top: 5px;
	margin-bottom: 5px;
    text-align: left;
    text-decoration: none;
}

.note_title a {
    text-align: left;
    text-decoration: none;
	color: black;
    font-size: 1.5em;
}

.note_date {
    opacity: 0.5;
    margin-left: 10px;
    font-size: 0.9em;
}

/* Tags */

.tags a {
	display: inline-block;
	margin-right: 5px;
	padding: 5px;
	color: #777;
  	background-color: #e2e9ff;
}

/* Special cases */

.center-image {
    display: block;
    margin: 0 auto;
}
