{{ define "main" }}

  <!-- Short About. -->
  <!--{{- partial "short-about.html" . -}}-->

  <!-- List notes. --> 
  <dl><!-- Table wrapper. -->
  {{ if (where .Site.RegularPages "Section" "posts") }}
  <dd>
  	<h3>Posts</h3>
  </dd>
  {{ range where .Site.RegularPages "Section" "posts" }}
  <dd>
    	<a id="note_title" class="note_title" href="{{.Permalink}}">{{.Title}}</a>
        {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
        <span id="note_date" class="note_date">{{.Date.Format $dateFormat }}</span>
  </dd>
  {{ end }}
  {{ end }}

  <!-- List research. --> 
  {{ if (where .Site.RegularPages "Section" "publication") }}
  <dd>
  	<h3>Publications</h3>
  </dd>
  {{ range where .Site.RegularPages "Section" "publication" }}
  <dd>
    	<a id="note_title" class="note_title" href="{{.Permalink}}">{{.Title}}</a>
        {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
        <span id="note_date" class="note_date">{{.Date.Format $dateFormat }}</span>
  </dd>
  {{ end }}
  {{ end }}
  </dl>
{{ end }}
